@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.giving {
    position: relative;
    display: block;
    padding: 0 40px;

    .giving-container {
        max-width: 900px;
        margin: 0 auto;


        .paragraphs {
            font-size: 1.1em;
            line-height: 1.6;
            margin-bottom: 30px;
            color: #444;
        }

        .giving-transfer {
            text-align: left;
            background: #f3f3f3;
            padding: 20px 40px 40px 40px;
            border-radius: 8px;

            h2 {
                margin-bottom: 30px;
            }

            .account-details {
                font-size: 1em;
                background: white;
                padding: 15px 30px;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            }
        }

        #donate-card-btn {
            margin: 50px 0;
        }

        .payment-form-container {
            box-sizing: border-box;
            position: fixed; /* Correct position declaration */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #ffffff;
            padding: 60px 40px;
            border-radius: 16px;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            width: 600px;
            max-width: 90%;
            text-align: center;

            h2 {
              box-sizing: border-box;
              padding: 0 0 30px 0;
            }

            .close-icon {
              position: absolute;
              top: 15px;
              right: 15px;
              background: none;
              border: none;
              font-size: 50px;
              font-weight: bold;
              color: #444;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                color: red;
              }
            }

            .donation-input {
                width: 100%;
                padding: 12px;
                font-size: 1.1em;
                border: 1px solid #ddd;
                border-radius: 8px;
                margin-bottom: 20px;
                outline: none;
                transition: border-color 0.3s;

                &:focus {
                    border-color: $primaryColour;
                }
            }
          }


        .payment-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);
            z-index: 999;
        }

        .giving-options {
            padding-bottom: 50px;
            .giving-section {
                box-sizing: border-box;
                margin: 50px 0;
                padding: 50px;
                background: #f3f3f3;
                border-radius: 8px;

                h2 {
                    font-size: 20px;
                    margin-bottom: 30px;
                }

                .giving-link {
                    display: inline-block;
                    background: $purpleColour;
                    color: white;
                    margin-top: 20px;
                    padding: 16px 20px;
                    border-radius: 12px;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 50px;
                    color: white;
                    font-family: $sora-semi-bold;
                    font-size: 16px;
                    transition: background 0.3s;

                    &:hover {
                        background: darken($purpleColour, 10%);
                    }
                }
            }
        }
    }
}