@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.trustees {
    box-sizing: border-box;
    position: relative;
    display: block;
    background-color: #f9f9f9;
    margin: 0;

    .trustees-container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px;

        .trustees-cards {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding: 50px 100px;

            .trustee-card {
                display: flex;
                align-items: center;
                gap: 2rem;
                background: #fff;
                border-radius: 24px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                padding: 5rem 0rem 5rem 5rem;
                margin: 0 auto 2rem auto;

                &.image-left {
                    flex-direction: row;
                    padding: 5rem 2rem 5rem 5rem;
                }

                &.image-right {
                    flex-direction: row-reverse;
                    padding: 5rem 5rem 5rem 2rem;
                }

                .trustee-image {
                    width: 100%;
                    min-width: 100px;
                    max-width: 250px;
                    border-radius: 20px;
                    object-fit: cover;
                    height: auto;
                }

                .trustee-bio {
                    width: 60%;

                    h2 {
                        font-size: 1.5rem;
                        color: #333;
                        font-family: $sora-semi-bold;
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #555;
                        margin-top: 2rem;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }

    /* Responsive styles */
    @media (max-width: 1000px) {
        .trustees-container {
            padding: 0;

            .trustees-cards {
                padding: 0;
                gap: 2rem;

                .trustee-card {
                    flex-direction: column !important;
                    text-align: left;
                    padding: 4rem;
                    background: none;
                    box-shadow: none;
                    gap: 1rem;

                &.image-left,&.image-right {
                    padding: 1rem 3rem;
                }

                    .trustee-image,
                    .trustee-bio {
                        width: 100%;
                    }

                    .trustee-image {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

