@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.topbar {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    left: auto;
    top: 0px;
    width: 100%;
    height: 120px;
    padding: 0 25px;
    background-color: rgba(255, 255, 255, 0.97);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .inner {
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;

        .logo {
            box-sizing: border-box;
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            background-image: url('../../media/imgs/logo.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            text-decoration: none;
            z-index: 112;
            margin-right: 20px;
        }

        .logo:hover {
            background-image: url('../../media/imgs/logo_over.svg');
        }

        .tabs {
            box-sizing: border-box;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .tab {
                box-sizing: border-box;
                position: relative;
                display: inline-block;
                font-family: $sora-semi-bold;
                vertical-align: bottom;
                min-width: 100px;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.6px;
                text-decoration: none;
                text-align: center;
                color: black;
                height: 60px;
                background-color: #f3f3f3;
                padding:  20px;
                border-radius: 16px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                    margin-left: auto;
                }
            }

            .tab:hover {
                color: white;
                background-color: $purpleColor;
            }

            .active {
                color: white;
                background-color: $purpleColor;
            }
        }
    }

    .overlay {
        box-sizing: border-box;
        position: absolute;
        display: block;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 120vh;
        overflow: hidden;
        pointer-events: none;

        .panel {
            box-sizing: border-box;
            position: absolute;
            display: block;
            padding: 116px 0px 0px 0px;
            right: -620px;
            top: 0px;
            width: 100%;
            height: 100%;
            max-width: 620px;
            background-color: $primaryColor;
            border-radius: 20px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            pointer-events: auto;
            transition: right 0.5s;
            z-index: 110;

            .tabs {
                box-sizing: border-box;
                position: relative;
                display: block;
                padding: 0px 20px;
                text-align: center;
                margin-top: 30px;

                .tab {
                    box-sizing: border-box;
                    position: relative;
                    display: block;
                    margin: 30px 0px 0px 0px;
                    width: 100%;
                    border-radius: 10px;
                    background-color: $purpleColor;
                    text-decoration: none;
                    cursor: pointer;

                    .text {
                        box-sizing: border-box;
                        position: relative;
                        display: block;
                        padding: 26px;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        border-radius: 9px;
                        color: $primaryColor;
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .tab:first-child {
                    margin: 0px;
                }

                .tab:hover {
                    .text {
                        background-color: #FFFFFF;
                        background-image: none;
                        color: $secondaryColor;
                    }
                }
            }
        }
    }

    .overlay.open {
        .panel {
            right: 0px;
        }
    }

    .menu-btn {
        box-sizing: border-box;
        position: absolute;
        display: none;
        right: 25px;
        top: 35px;
        width: 54px;
        height: 54px;
        cursor: pointer;
        z-index: 111;

        .line {
            box-sizing: border-box;
            position: relative;
            display: block;
            background: $purpleColor;
            width: 40px;
            height: 4px;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
        }
    }

    .menu-btn:hover {
        .line {
            background: $secondaryColor;
        }
    }

    .menu-btn.active .line2 {
        opacity: 0;
    }

    .menu-btn.active .line1 {
        transform: translateY(12px) rotate(45deg);
    }

    .menu-btn.active .line3 {
        transform: translateY(-12px) rotate(-45deg);
    }

    @media only screen and (max-width: 1000px) {
        .inner {
            .tabs {
                display: none;
            }
        }

        .menu-btn {
            display: block;
        }
    }
}
