@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.volunteer {
    box-sizing: border-box;
    position: relative;
    display: block;

    .volunteer-container {
        box-sizing: border-box;
        position: relative;
        display: block;
        min-height: 500px;
        padding: 30px 50px;
        margin: 0 auto;
        text-align: center;

        .heading {
            box-sizing: border-box;
            position: relative;
            display: block;
            font-size: 40px;
        }

        .paragraphs {
            box-sizing: border-box;
            position: relative;
            display: block;
            font-size: 1.1em;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
        }
    }

}
