$sora-regular:  'Sora-Regular', sans-serif;
$sora-extra-bold: 'Sora-ExtraBold', sans-serif;
$sora-semi-bold: 'Sora-SemiBold', sans-serif;


@font-face {
    font-family: 'Sora-Regular';
    src: url('./fonts/Sora-Regular.eot');
    src: url('./fonts/Sora-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Sora-Regular.woff2') format('woff2'),
        url('./fonts/Sora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sora-ExtraBold';
    src: url('./fonts/Sora-ExtraBold.eot');
    src: url('./fonts/Sora-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Sora-ExtraBold.woff2') format('woff2'),
        url('./fonts/Sora-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sora-SemiBold';
    src: url('./fonts/Sora-SemiBold.eot');
    src: url('./fonts/Sora-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Sora-SemiBold.woff2') format('woff2'),
        url('./fonts/Sora-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}