@import "./fonts";
@import "./animations";
@import "./colours";

body {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    background: #F8F9FA;
    font-family: $sora-regular;
    color: $primaryColor;

    h2 {
        font-family: $sora-semi-bold;
    }

    .bold {
        font-family: $sora-extra-bold;
    }

}
