@import "../../styles/fonts";
@import "../../styles/animations";

.layout {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0px auto;
    width: 100%;
    min-height: 100vh;
    background-image: url(.//..//..//media/imgs/home_bg_v2.svg);
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;

    @media only screen and (max-width: 1100px) {
        padding: 20px;
    }

    .content {
        box-sizing: border-box;
        position: relative;
        display: block;
        animation: fadeIn 0.5s ease-in;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 0 0 10px 10px;

        .inner-content {
            box-sizing: border-box;
            position: relative;
            display: block;
            margin: 0px auto;
            width: 100%;
            max-width: 1600px;
            border-radius: 20px;
        }
    }
}
