@import "../../styles/fonts";
@import "../../styles/animations";
@import "../../styles/colours";

.footer {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 50px 0px;
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 20px;
    margin-top: 30px;

    .inner {
        box-sizing: border-box;
        position: relative;
        display: block;
        margin: 0px auto;
        width: 100%;
        max-width: 1000px;

        .columns {
            box-sizing: border-box;
            position: relative;
            display: flex;
            padding: 0 30px;
            justify-content: space-between;

        .col {
            box-sizing: border-box;
            position: relative;
            flex: 1;

            .col-heading {
                box-sizing: border-box;
                position: relative;
                display: block;
                font-family: $sora-semi-bold;
                margin: 0 0 25px 0;
                font-size: 21px;
                line-height: 29px;
                letter-spacing: 0.78px;
            }

            .col-newsletter {
                box-sizing: border-box;
                position: relative;
                display: block;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.6px;
            }

            .buttons-holder {
                box-sizing: border-box;
                position: relative;
                display: block;
                margin: 15px 0px 0px 0px;

                .name-input,
                .email-input {
                  box-sizing: border-box;
                  position: relative;
                  display: block;
                  font-family: $sora-regular;
                  padding: 10px;
                  font-size: 15px;
                  letter-spacing: 1px;
                  line-height: 24px;
                  border: none;
                  outline: none;
                  border-radius: 6px;
                  width: 280px;
                  margin-bottom: 10px;
                  background-color: #f3f3f3;
                }



                input::placeholder {
                  color: #3f3f3f41;
                }
              }

                @media only screen and (max-width: 720px) {
                    #subscribe-btn {
                        margin: 30px auto 20px auto;
                }
                .name-input,
                .email-input {
                    margin: 0 auto;
                }
            }

            .col-menu {
                box-sizing: border-box;
                position: relative;
                display: block;
                margin: 0px;

                .item {
                    box-sizing: border-box;
                    position: relative;
                    display: block;
                    left: 0px;
                    text-decoration: none;
                    white-space: nowrap;
                    transition: left 0.3s;
                    font-size: 14px;
                    line-height: 30px;
                    letter-spacing: 0.6px;
                    color: $purpleColour;

                    .name {
                        box-sizing: border-box;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0px;
                        cursor: pointer;
                        text-decoration: none;
                        color: $purpleColour;
                    }

                    .name:hover {
                        left: 3px;
                    }
                }
            }
        }
        .col2 {
           position: absolute;
           right: 30px;
        }
    }

    @media only screen and (max-width: 720px) {
        .columns {
            box-sizing: border-box;
            position: relative;
            display: block;
            text-align: center;

            .col {
                box-sizing: border-box;
                position: relative;
                display: block;
                padding-top: 50px;
                margin: 0 auto;
        }
        .col2 {
            right: 0;
        }
    }
}

        .icons {
            box-sizing: border-box;
            position: relative;
            display: block;
            text-align: center;
            padding: 20px 0px 10px 0px;

            .icon {
                box-sizing: border-box;
                position: relative;
                display: inline-block;
                margin: 0 20px;
            }

            .icon1 {
                height: 66px;
                width: 66px;
                background-image: url("../../media/imgs/fb_icon.svg");
            }
            .icon1:hover {
                background-image: url("../../media/imgs/fb_icon_hover.svg");
            }

            .icon2 {
                height: 62px;
                width: 75px;
                background-image: url("../../media/imgs/footer_logo.svg");
                background-size: cover;
            }
        }

        .copyright {
            box-sizing: border-box;
            position: relative;
            display: block;
            color: rgb(0, 0, 0);
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.7px;
            line-height: 17px;
            padding: 30px 30px 0px 30px;
        }
    }
}
